@tailwind base;
@tailwind components;
@tailwind utilities;

/* Marca d'água da mascote */
body::before {
  content: "";
  position: fixed;
  top: 50px;
  left: 30px;
  background-image: url('/mascote.png');
  background-size: 300px auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  opacity: 0.04; /* mais transparente */
  z-index: 0;
  pointer-events: none;
}

/* Marca d'água de materiais de estudo */
body::after {
  content: "";
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-image: url('/livros.png');
  background-size: 260px auto;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
  opacity: 0.035; /* mais transparente */
  z-index: 0;
  pointer-events: none;
}
